<div class="bg-lightest-grey py-3 mb-5 ">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-9 mb-3 mb-md-0 small">
                {{breadcrumbs}}
            </div>
            <div class="col-12 col-md-3">
                {{search scoped=settings.scoped_kb_search submit=false class='nav-search ml-md-auto w-90'}}
            </div>
        </div>
    </div>
</div>
<div class="container my-5" id="article-container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-12 col-md-4">
            {{#if settings.show_articles_in_section}}
            <div class="section-articles collapsible-sidebar">
                <h3 class="collapsible-sidebar-title sidenav-title">{{t 'articles_in_section'}}</h3>
                <ul class="list-unstyled">
                    {{#each section.articles}}
                    <li class="mb-2">
                        <a href="{{url}}" class=" {{#is id ../article.id}}current-article{{/is}}">{{title}}</a>
                    </li>
                    {{/each}}
                </ul>
                {{#if section.more_articles}}
                <a href="{{section.url}}" class="btn btn-sm btn-secondary m-0">{{t 'see_more'}}</a>
                {{/if}}
            </div>
            {{/if}}
        </div>
        <div class="col-12 col-md-8">
            <h1 title="{{article.title}}" class="article-title h2">
                {{article.title}}
                {{#if article.internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
                {{/if}}
            </h1>
            <div class="meta-group">
                {{#is article.created_at article.edited_at}}
                <p class="meta-data small text-muted">{{dc 'published'}}: {{date article.created_at timeago=true}}</p>
                {{else}}
                <p class="meta-data small text-muted">{{dc 'updated'}}: {{date article.edited_at timeago=true}}</p>
                {{/is}}
            </div>

            {{#if settings.show_follow_article}}
            {{subscribe}}
            {{/if}}

            <div class="article-info mb-5">
                <div class="article-content">
                    <div class="article-body">{{article.body}}</div>

                    <div class="article-attachments">
                        <ul class="attachments">
                            {{#each attachments}}
                            <li class="attachment-item">
                                <a href="{{url}}" target="_blank">{{name}}</a>
                                <div class="attachment-meta meta-group">
                                    <span class="attachment-meta-item meta-data">{{size}}</span>
                                    <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">Download</a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-4 py-4 border-top border-bottom text-center">
                {{#with article}}
                <div class="article-votes">
                    <h5 class="article-votes-question">{{t 'was_this_article_helpful'}}</h5>
                    <div class="article-votes-controls btn-group py-3" role='radiogroup'>
                        {{vote 'up' role="radio" class='btn btn-secondary article-vote article-vote-up'}}
                        {{vote 'down' role="radio" class='btn btn-secondary article-vote article-vote-down'}}
                    </div>
                    <p>
                        <small class="article-votes-count text-small py-2">
                            {{vote 'label' class='article-vote-label'}}
                        </small>
                    </p>
                </div>
                {{/with}}

                <p> {{request_callout}}</p>
            </div>
        </div>
    </div>

</div>